.login-div {
  padding-top: 4rem;
}

.login-title {
  color: var(--accent-color);
  font-size: clamp(3rem, 8vw, 5rem);
  margin: 8vh 0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  